<app-hotelheader></app-hotelheader>



<main id="main" class="main">

  <div class="pagetitle">
    <h1>Room Feature</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/hoteldashboard']">Home</a></li>
        <li class="breadcrumb-item active">Room Feature</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="fw-bold text-secondary">Manage Room Feature</h5>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <!-- Card Header -->
          <div class="card-header">
            Feature List
          </div>

          <!-- Card Body -->
          <div class="card-body">
            <table id="example1" class="table table-hover align-middle">
              <thead>
                <tr style="text-align: center;">
                  <th>Feature</th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let f of feature" style="text-align: center;">
                  <td>{{f.featureName}}</td>
                  <td>
                    <img [src]="'http://localhost:5161/uploads/' + f.image" alt="Feature Image" height="60px" width="100px">
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- End Card Body -->
        </div><!-- End Card -->

      </div>
    </div>
  </section>

</main><!-- End #main -->
