<app-adminheader></app-adminheader>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Add Facilities</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/displayFacility']">Facilities</a></li>
        <li class="breadcrumb-item active">Add Facilities</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card" style="margin-top: 10px;">
          <div class="card-header">
            Add Facility
          </div>
          <div class="card-body">
            <h5 class="fw-bold text-secondary">Facility Management</h5>

            <!-- Show Error Message -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <!-- Form to Add Facility -->
            <form class="row g-3" (ngSubmit)="onSubmit()">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" name="facilityName" [(ngModel)]="newFacility.facilityName" class="form-control"
                    placeholder="Facility Name" required>
                  <label for="floatingName">Facility Name</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="file" class="form-control" (change)="onFileSelected($event)" required>
                  <label for="floatingFile">Facility Image</label>
                </div>
              </div>
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Add Facility</button>
              </div>
            </form><!-- End form -->

          </div><!-- /.card-body -->
        </div><!-- /.card -->

      </div>
    </div>
  </section>

</main><!-- End #main -->


