<app-hotelheader></app-hotelheader>
<main id="main" class="main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <div class="pagetitle">
        <h1>Cities</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Cities</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Success Message -->
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show">
        {{ successmsg }}
        <!-- Close Button -->
        <button type="button" class="btn-close" (click)="closeSuccessMessage()"></button>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

              <a type="button" class="btn btn-success" [routerLink]="['/addHotelCity']">
                <i class="bi bi-plus-circle"></i> Add City
            </a>

                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Cities</h5>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr style="text-align: center;">
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of citys" style="text-align: center;">
                                    <td>{{c.city}}</td>
                                    <td>
                                      <a><button class="btn btn-danger" (click)="removeCity(c.id)">
                                        <i class="bi bi-trash"></i> Remove
                                    </button></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
