<app-hotelheader></app-hotelheader>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>User Bookings</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/hoteldashboard']">Home</a></li>
        <li class="breadcrumb-item active">User Bookings</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <!-- Card Header -->
          <div class="card-header">
            Booking List
          </div>

          <!-- Card Body -->
          <div class="card-body">
            <table id="example1" class="table table-hover align-middle">
              <thead>
                <tr style="text-align: center;">
                  <th>Username</th>
                  <th>Check In</th>
                  <th>Check Out</th>
                  <th> Room Category </th>
                  <th>City</th>
                  <th>Rent</th>
                  <th>Booking Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of bookings" style="text-align: center;">
                  <td>{{b.userName}}</td>
                  <td>{{b.checkIn}}</td>
                  <td>{{b.checkOut}}</td>
                  <td>{{b.roomCategory}}</td>
                  <td>{{b.city}}</td>
                  <td>{{b.rent}}</td>
                  <td *ngIf="b.bookingStatus === 1">
                    <span class="badge bg-success">Booked</span>
                </td>
                  <td *ngIf="b.bookingStatus === 0">
                    <span class="badge bg-danger">Canceled</span>
                  </td>

                </tr>
              </tbody>
            </table>
          </div><!-- End Card Body -->
        </div><!-- End Card -->

      </div>
    </div>
  </section>

</main><!-- End #main -->
