<app-userheader></app-userheader>

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Away from the Hustle and Bustle</h6>
                <h2>Relax Your Mind</h2>
                <p style="font-size: 17px;">Step away from the chaos of daily life and discover the perfect retreat, where our serene accommodations and world-class amenities offer a haven of relaxation and rejuvenation.</p>
                <a class="btn theme_btn button_hover">Get Started</a>
            </div>
        </div>        
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>Book<br> Your Room</h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        <div *ngIf="errorMessage" style="color: red;" class="error-message mb-2">
                            {{ errorMessage }}
                        </div>

                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <!-- Arrival and Departure Dates -->
                                <!-- Quantity Selector -->
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <!-- Check In Date -->
                                            <label for="arrivalDate" class="text-white">Check In Date:</label>
                                            <input type="date" id="arrivalDate" class="form-control mb-3"
                                                placeholder="Arrival Date" [min]="minDate"
                                                (change)="onCheckInDateChange($event)" />

                                            <!-- Check Out Date -->
                                            <label for="departureDate" class="text-white">Check Out Date:</label>
                                            <input type="date" id="departureDate" class="form-control"
                                                placeholder="Departure Date" [min]="checkOutMinDate" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Quantity Selector -->
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <!-- Adult Section -->
                                            <div class="d-flex align-items-center mb-4 mt-4">
                                                <label for="quantity" style="color: white;" class="me-2">Adult:</label>
                                                <button class="btn btn-outline-secondary me-2" type="button"
                                                    (click)="decrementQuantity()">-</button>
                                                <input type="text" id="quantity" class="form-control text-center me-2"
                                                    [value]="quantity" style="width: 60px;" />
                                                <button class="btn btn-outline-secondary" type="button"
                                                    (click)="incrementQuantity()">+</button>
                                            </div>

                                            <!-- Child Section -->
                                            <div class="d-flex align-items-center">
                                                <label for="quantity1" style="color: white;" class="me-2">Child:</label>
                                                <button class="btn btn-outline-secondary me-2" type="button"
                                                    (click)="decrementQuantity1()">-</button>
                                                <input type="text" id="quantity1" class="form-control text-center me-2"
                                                    [value]="quantity1" style="width: 60px;" />
                                                <button class="btn btn-outline-secondary" type="button"
                                                    (click)="incrementQuantity1()">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- City Selection -->
                                <div class="col-md-4 mt-3">
                                    <div class="book_tabel_item">
                                        <!-- <div class="input-group">
                                            <select [(ngModel)]="newCity.city" name="city" class="nice-select wide"
                                                required>
                                                <option value="" disabled selected>Select a City</option>
                                                <option *ngFor="let city of indiaCities" [value]="city">{{ city }}
                                                </option>
                                            </select>
                                        </div> -->

                                        <label for="cityInput" style="color: white;">City Name</label>
                                        <input type="text" class="form-control" id="cityInput"
                                            placeholder="Start typing city name" [(ngModel)]="newCity.city" name="city"
                                            (input)="filterCities()" autocomplete="off" required />

                                        <!-- Dropdown for suggestions -->
                                        <ul *ngIf="filteredCities.length" class="list-group position-absolute"
                                            style="z-index: 1000; max-height: 200px; overflow-y: auto;">
                                            <li style="cursor: pointer;" *ngFor="let city of filteredCities"
                                                class="list-group-item list-group-item-action"
                                                (click)="newCity.city = city">
                                                {{ city }}
                                            </li>
                                        </ul>

                                        <button class="book_now_btn button_hover mt-3">Book Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Area =================-->

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Hotel Accommodation</h2>
            <p>Experience the perfect blend of comfort and luxury with our meticulously designed accommodations. Each
                room offers modern amenities, elegant interiors, and a tranquil ambiance, ensuring a relaxing and
                memorable stay. Whether you’re traveling for business or leisure, our hotel provides a welcoming retreat
                tailored to your needs.</p>
        </div>

        <div class="row">
            <div *ngFor="let hotel of tophotels" class="col-lg-3 col-md-4 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img [src]="'http://localhost:5161/uploads/' + hotel.image" alt="Hotel Image" class="img-fluid"
                            style="width: 100%; height: 250px; object-fit: cover;">
                        <!-- <a href="#" class="btn theme_btn button_hover">Book Now</a> -->
                    </div>
                    <a>
                        <h4 class="sec_h4">{{hotel.hname}} Hotel</h4>
                    </a>
                    <h5>
                        <!-- Loop to display stars -->
                        <ng-container *ngFor="let star of [].constructor(hotel.averageRating); let i = index">
                            <!-- <i class="fas fa-star text-warning"></i> -->
                            <span class="text-warning" style="font-size: 1.2em;">&#9733;</span>
                        </ng-container>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->

<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">Royal Facilities</h2>
            <p>Experience unparalleled comfort with our world-class facilities designed for your convenience.</p>
        </div>
        <div class="row mb_30">
            <!-- Restaurant -->
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restaurant</h4>
                    <p>Enjoy a delightful dining experience with a variety of cuisines prepared by top chefs in our
                        elegant restaurant. Relish the flavors while soaking in the luxurious ambiance.</p>
                </div>
            </div>
            <!-- Sports Club -->
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Sports Club</h4>
                    <p>Stay active and rejuvenated at our state-of-the-art sports club, equipped with facilities for
                        various indoor and outdoor activities.</p>
                </div>
            </div>
            <!-- Swimming Pool -->
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Swimming Pool</h4>
                    <p>Unwind and relax by our pristine swimming pool, offering a perfect spot for leisure and a
                        refreshing escape.</p>
                </div>
            </div>
            <!-- Rent a Car -->
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>Rent a Car</h4>
                    <p>Explore the city at your convenience with our reliable car rental service. Discover local
                        attractions with ease and flexibility.</p>
                </div>
            </div>
            <!-- Gymnasium -->
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Gymnasium</h4>
                    <p>Maintain your fitness routine at our fully equipped gymnasium, offering modern equipment.</p>
                </div>
            </div>
            <!-- Parking -->
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Parking</h4>
                    <p>Enjoy hassle-free parking with our secure and spacious parking facilities, ensuring the safety
                        of your vehicle during your stay.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ Facilities Area  =================-->

<!--================ Latest Blog Area  =================-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Blog Posts</h2>
            <p>Stay updated with the latest news, tips, and guides to make the most of your hotel experience.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="assets/userstyle/image/blog/blog-1.jpg" alt="post">
                    </div>
                    <div class="details">
                        <a>
                            <h4 class="sec_h4">Top 5 Luxury Hotels for a Perfect Stay</h4>
                        </a>
                        <p>Discover the most luxurious hotels with exceptional amenities and services that promise a relaxing getaway.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="assets/userstyle/image/gallery/03-1.jpg" alt="post">
                    </div>
                    <div class="details">
                        <a>
                            <h4 class="sec_h4">How to Book the Perfect Room for Your Vacation</h4>
                        </a>
                        <p>Learn the key tips for choosing the best room for your stay, ensuring comfort and convenience during your trip.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="assets/userstyle/image/blog/blog-3.jpg" alt="post">
                    </div>
                    <div class="details">
                        <a>
                            <h4 class="sec_h4">Exploring the Best Dining Options at Our Hotels</h4>
                        </a>
                        <p>From gourmet dining to casual meals, explore the best food experiences that our hotels offer for a memorable stay.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ Recent Area  =================-->

<app-userfooter></app-userfooter>