<app-adminheader></app-adminheader>



<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Room Category Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card custom-card shadow-lg">

                            <div class="card-body" [routerLink]="['/displaycategory']" style="cursor: pointer;">
                                <h5 class="card-title text-primary fw-bold">Room Category</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-light text-primary shadow-sm">
                                        <i class="bi bi-house-door fs-3"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 class="fw-bold fs-4 text-dark">{{categorycount}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Room Category Card -->

                    <!-- Facilities Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card custom-card shadow-lg">

                            <div class="card-body" [routerLink]="['/displayFacility']" style="cursor: pointer;">
                                <h5 class="card-title text-success fw-bold">Facilities</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-light text-success shadow-sm">
                                        <i class="bi bi-door-open fs-3"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 class="fw-bold fs-4 text-dark">{{facilitycount}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Facilities Card -->

                    <!-- Features Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card custom-card shadow-lg">

                            <div class="card-body" [routerLink]="['/displayFeatures']" style="cursor: pointer;">
                                <h5 class="card-title text-warning fw-bold">Features</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-light text-warning shadow-sm">
                                        <i class="bi bi-star-fill fs-3"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 class="fw-bold fs-4 text-dark">{{featurecount}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Features Card -->

                    <!-- Hotels Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card custom-card shadow-lg">

                            <div class="card-body" [routerLink]="['/hotelsapprove']" style="cursor: pointer;">
                                <h5 class="card-title text-danger fw-bold">Hotels</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-light text-danger shadow-sm">
                                        <i class="bi bi-building fs-3"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 class="fw-bold fs-4 text-dark">{{hotelcount}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Hotels Card -->

                    <!-- Festival Discount Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card custom-card shadow-lg">

                            <div class="card-body" [routerLink]="['/festivaldiscount']" style="cursor: pointer;">
                                <h5 class="card-title text-info fw-bold">Festival Discount</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-light text-info shadow-sm">
                                        <i class="bi bi-gift fs-3"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 class="fw-bold fs-4 text-dark">{{fesdiscountcount}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Festival Discount Card -->

                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
