<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">Hotel Hub</span>
                            </a>
                        </div>

                        <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show">
                            {{ successmsg }}
                            <button type="button" class="btn-close" (click)="closeSuccessMessage()"></button>
                        </div>

                        <div *ngIf="errormsg" class="alert alert-danger">
                            {{ errormsg }}
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Forgot Password</h5>
                                    <p class="text-center small">Enter your email</p>
                                </div>

                                <form (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
                                    <div class="col-12">
                                        <label for="Email" class="form-label">Email</label>
                                        <div class="input-group has-validation">
                                            <input type="email" [(ngModel)]="userdata.email" name="email" class="form-control" id="email" required>
                                            <div class="invalid-feedback">Please enter your email.</div>
                                        </div>
                                    </div>
                                
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit" [disabled]="isLoading">Submit</button>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
