<style>
    .header_area{
        position: fixed;
    }
</style>
<!--================Header Area =================-->
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <a class="navbar-brand logo_h" href="index.html"><img src="assets/userstyle/image/Logo.png" alt=""></a> -->
            <div class="d-flex align-items-center justify-content-between">
                <a [routerLink]="['/userhome']" class="logo d-flex align-items-center">
                    <img src="assets/img/logo.png" alt="">
                    <span class="d-none d-lg-block">Hotel Hub</span>
                </a>
            </div><!-- End Logo -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" [routerLink]="['/userhome']">Home</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/showBookings']">My Bookings</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/userfeedback']">Feedback</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/userprofile']">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/userhome']">About us</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/usergallery']">Gallery</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/userhome']">Contact</a></li> -->
                    <li class="nav-item"><a class="nav-link" style="cursor: pointer;" (click)="logout()">Sign Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--================Header Area =================-->
