<app-hotelheader></app-hotelheader>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Facilities</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Add Room</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="margin-top: 10px;">
          <div class="card-body">
            <h5 class="card-title">Add Room</h5>

            <!-- Show Error Message -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <form class="row g-3" (ngSubmit)="onSubmit()">
              <div class="col-md-12">
                <div class="form-floating">
                  <select name="category" [(ngModel)]="newRoom.roomcategoryid" class="form-control" required>
                    <option value="" disabled selected>Select Category</option>
                    <option *ngFor="let category of categorys" [value]="category.id">{{ category.categoryName }}
                    </option>
                  </select>
                  <label for="category">Room Category</label>
                </div>
              </div>

              <!-- Room Features Section (Only display once features data is available) -->
              <div class="col-md-12" *ngIf="features.length > 0">
                <label for="features" class="form-label">Room Features</label>
                <div class="row">
                  <div class="col-md-2" *ngFor="let feature of features; let i = index">
                    <div class="form-check">
                      <input type="checkbox" [(ngModel)]="selectedFeatures[i]" [value]="feature.id" name="features"
                        class="form-check-input">
                      <label class="form-check-label">{{ feature.featureName }}</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Room Facilities Section (Only display once facilities data is available) -->
              <div class="col-md-12" *ngIf="facilitys.length > 0">
                <label for="facilities" class="form-label">Room Facilities</label>
                <div class="row">
                  <div class="col-md-2" *ngFor="let facility of facilitys; let i = index">
                    <div class="form-check">
                      <input type="checkbox" [(ngModel)]="selectedFacilities[i]" [value]="facility.id" name="facilities"
                        class="form-check-input">
                      <label class="form-check-label">{{ facility.facilityName }}</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Room Details Section -->
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" name="adultCapacity" [(ngModel)]="newRoom.adultCapacity" class="form-control"
                    placeholder="Adult Capacity" required>
                  <label for="floatingName">Adult Capacity</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" name="childrenCapacity" [(ngModel)]="newRoom.childrenCapacity"
                    class="form-control" placeholder="Children Capacity" required>
                  <label for="floatingName">Children Capacity</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" name="quantity" [(ngModel)]="newRoom.quantity" class="form-control"
                    placeholder="Rooms" required>
                  <label for="floatingName">No. Of Rooms</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <select name="city" [(ngModel)]="newRoom.city" class="form-control" required>
                    <option value="" disabled selected>Select city</option>
                    <option *ngFor="let city of citys" [value]="city.city">{{ city.city }}
                    </option>
                  </select>
                  <label for="category">City</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" name="rent" [(ngModel)]="newRoom.rent" class="form-control" placeholder="Rent"
                    required>
                  <label for="floatingName">Rent</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" name="discount" [(ngModel)]="newRoom.discount" class="form-control"
                    placeholder="Discount" required>
                  <label for="floatingName">Discount</label>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Add Room</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
