<app-adminheader></app-adminheader>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Room Features</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Features</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <!-- <button type="button" class="btn btn-primary">Add Category</button> -->
                <a type="button" class="btn btn-success" [routerLink]="['/addFeature']">
                    <i class="bi bi-plus-circle"></i> Add Feature
                </a>
                <div class="card" style="margin-top: 10px;">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <h5 class="card-title">Features</h5>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Feature Name
                                    </th>
                                    <th>
                                      Image
                                  </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fea of features">
                                    <td>
                                        {{fea.featureName}}
                                    </td>
                                    <td>
                                      <img [src]="'http://localhost:5161/uploads/' +fea.image" alt="Facility Image" width="100px" height="100px">
                                    </td>
                                    <td style="text-align: center;">
                                        <a [routerLink]="['/editFeature',fea.id]"><button type="button" class="btn btn-primary me-3">
                                                <i class="bi bi-pencil-square"></i> Edit
                                            </button></a>
                                        <a><button class="btn btn-danger" (click)="deleteFeature(fea.id)">
                                                <i class="bi bi-trash"></i> Delete
                                            </button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
