<app-userheader></app-userheader>
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Gallery</h2>
            <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Home</a></li>
                <li class="active text-white">Gallery</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================Breadcrumb Area =================-->
<section class="gallery_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Gallery</h2>
            <p>Discover the perfect blend of luxury and eco-friendliness through our stunning hotel gallery.</p>
        </div>
        <div class="row imageGallery1" id="gallery">
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/roomimg5.jpg" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/roomimg5.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/swimming.jpg" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/swimming.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/hotelimg5.jpg" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/hotelimg5.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/roomimg2.jpg" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/roomimg2.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/roomimg10.webp" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/roomimg10.webp"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/hotelimg3.avif" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/hotelimg3.avif"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/image/gallery/03.jpg" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/image/gallery/03.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/spaimg.jpg" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/spaimg.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img src="assets/userstyle/hotelhubimages/food&beverage.avif" alt="">
                    <div class="hover">
                        <a class="light" href="assets/userstyle/hotelhubimages/food&beverage.avif"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<app-userfooter></app-userfooter>