<app-userheader></app-userheader>

<!--================Blog Area =================-->
<section class="blog_area" style="padding-top: 120px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8" *ngIf="roomData.length > 0; else noRoomsTemplate">
                <div class="blog_left_sidebar">

                    <!-- Banner for Festival Discount -->
                    <div *ngIf="isFestivalToday()" class="festival-banner">
                        <div class="festival-banner-content">
                            <div class="festival-banner-header">
                                <h4>🎉 Festival Discount Active! 🎉</h4>
                            </div>
                            <p>
                                <strong>{{ activeFestival?.festname }}</strong> is happening today! Don't miss out on
                                the special
                                discount. Enjoy exclusive offers and savings when you book a room today.
                            </p>
                            <p>
                                Hurry, this offer is valid for today only! Grab your discount now!
                            </p>
                        </div>
                    </div>

                    <!-- Room Listings -->
                    <article class="row blog_item card" *ngFor="let room of roomData">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <b>Facilities: </b>
                                            <a *ngFor="let fac of room.facilities.$values">{{" "}}{{fac}}</a>
                                        </div>
                                        <div class="post_tag">
                                            <b>Features: </b>
                                            <a *ngFor="let fea of room.features.$values">{{" "}}{{fea}}</a>
                                        </div>
                                        <ul class="blog_meta list_style">
                                            <li>
                                                <a><b>Capacity: </b>{{ room.adultCapacity }} Adults</a>
                                            </li>
                                            <li>
                                                <a>{{ room.childrenCapacity }} Children</a>
                                            </li>
                                            <li>
                                                <a><b>City: </b>{{ room.city }}</a>
                                            </li>
                                            <li>
                                                <a>
                                                    <b>Status: </b>
                                                    <span
                                                        [ngClass]="{'text-danger': room.activeStatus === 0, 'badge bg-success': room.activeStatus !== 0}">
                                                        {{ room.activeStatus === 0 ? 'Inactive Room' : 'Active Room' }}
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a><b>Discount: </b>{{ getDiscount(room) }}%</a>
                                            </li>
                                            <li>
                                                <!-- Loop to display stars -->
                                                <ng-container
                                                    *ngFor="let star of [].constructor(room.averageRating); let i = index">
                                                    <!-- <i class="fas fa-star text-warning"></i> -->
                                                    <span class="text-warning" style="font-size: 2em;">&#9733;</span>
                                                </ng-container>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img [src]="'http://localhost:5161/uploads/roomimages/' + room.firstImage"
                                            alt="Room Image" class="img-fluid room-image" />
                                        <div class="blog_details">
                                            <a>
                                                <h2>{{ room.categoryName }}</h2>
                                            </a>
                                            <h3>
                                                <del style="color: red;">{{ room.rent | currency: 'INR' }}</del>
                                                {{ (room.rent) - ((room.rent * getDiscount(room)) / 100) | currency:
                                                'INR' }}
                                            </h3>
                                            <button (click)="roomdetails(room.id)" class="view_btn button_hover"
                                                [disabled]="room.activeStatus === 0"
                                                [ngClass]="{'disabled-btn': room.activeStatus === 0}">
                                                View More
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <ng-template #noRoomsTemplate>
                <div class="text-center">
                    <h3>No Rooms Available</h3>
                    <p>Please adjust your search criteria or try again later.</p>
                </div>
            </ng-template>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Room Categories</h3>
                        <!-- Category Dropdown -->
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select name="category" [(ngModel)]="searchRoom.categoryId" class="form-control"
                                    (change)="searchRoomsByCategory(searchRoom.categoryId)" required>
                                    <option value="" disabled selected>Select Category</option>
                                    <option *ngFor="let category of categoryData" [value]="category.id">
                                        {{ category.categoryName }}
                                    </option>
                                </select>
                                <label for="category">Room Category</label>
                            </div>
                        </div>

                        <h3 class="widget_title mt-5">Room Facilities</h3>
                        <div class="col-md-12" *ngIf="facilityData.length > 0">
                            <div class="col-md-3" *ngFor="let facility of facilityData">
                                <input type="checkbox" [value]="facility.id"
                                    (change)="onFacilityChange(facility.id, $event)" class="form-check-input" />
                                <label class="form-check-label">{{ facility.facilityName }}</label>
                            </div>
                        </div>

                        <h3 class="widget_title mt-5">Room Features</h3>
                        <div class="col-md-12" *ngIf="featuresData.length > 0">
                            <div class="col-md-3" *ngFor="let feature of featuresData">
                                <input type="checkbox" [value]="feature.id"
                                    (change)="onFeatureChange(feature.id, $event)" class="form-check-input" />
                                <label class="form-check-label">{{ feature.featureName }}</label>
                            </div>
                        </div>

                        <!-- <h3 class="widget_title mt-5">Rating</h3> -->
                        <!-- Rating -->
                        <!-- <div class="col-md-12">
                            <input type="text" [(ngModel)]="searchRoom.rating" class="form-control"
                                (change)="searchRoomsByRating(searchRoom.rating)" placeholder="Enter Rating...">
                        </div> -->

                        <h3 class="widget_title mt-5">Rating</h3>
                        <div class="col-md-12 text-center">
                            <!-- Display Stars for Rating -->
                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                                <span class="star" [ngClass]="{'selected': i < searchRoom.rating}"
                                    (click)="setRating(i + 1)" (mouseover)="hoverRating(i + 1)"
                                    (mouseleave)="hoverRating(0)" style="cursor: pointer; font-size: 2em;">
                                    &#9733; <!-- Star symbol -->
                                </span>
                            </ng-container>
                            <div class="mt-2">
                                Selected Rating: {{ searchRoom.rating || 'None' }}
                            </div>
                        </div>

                        <h3 class="widget_title mt-5">Room Status</h3>
                        <!-- Room Status -->
                        <div class="col-md-12">
                            <div class="form-check">
                                <input type="radio" id="standardRoom" name="roomPreference" value="1"
                                    [(ngModel)]="searchRoom.isActive" (change)="searchRoomsByStatus(true)"
                                    class="form-check-input">
                                <label for="standardRoom" class="form-check-label">Active Room</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="suiteRoom" name="roomPreference" value="0"
                                    [(ngModel)]="searchRoom.isActive" (change)="searchRoomsByStatus(false)"
                                    class="form-check-input">
                                <label for="suiteRoom" class="form-check-label">Inactive Room</label>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================Blog Area =================-->

<app-userfooter></app-userfooter>